* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ddd;
}

.header {
  width: 100%;
  height: 100%;
  max-height: 115px;
  background-color: rgba(52, 63, 100, 1);
}

.hmain {
  max-width: 1000px;
  display: flex;
  margin: auto;
}

.logo {
  background-color: #fff;
  width: 260px;
  height: 140px;
  position: relative;
}

.logo img {
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.redessociais {
  width: 100%;
  max-width: 740px;
  height: 100%;
  float: right;
}

.redessociais ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  height: 34px;
  margin: auto;
  justify-content: flex-end;
  margin-top: 25px;
}

@media (max-width:1000px){
  .logo {
    display: none;
  }

  .header {
    max-height: 600px;
  }

  .redessociais {
    display: flex;
    margin: auto;
    text-align: center;
  }

  .redessociais ul {
    display: block;
  }

  .redessociais ul li {
    margin-top: 30px;
  }
}


.redessociais ul li {
  margin-left: 10px;
}

.redessociais ul li a img {
  width: 30px;
  height: auto;
  transform: translateY(-5px);
}

.redessociais ul li a {
  text-decoration: none;
}

.redessociais ul li a span {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 6px 12px;
  background-color: #01B1AF;
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.8);
  border: solid rgba(0, 108, 109, 1) 0px;
  transition: color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.redessociais ul li a span:hover {
  background-color: rgba(0, 108, 109, 1);
  transition: 0.4s ease;
}

.redessociais .portal {
  width: 100%;
  height: 34px;
  margin-top: 20px;
}

.redessociais .portal .portal2 {
  float: right;
  margin-left: 10px;
}

ul.nav {
  transform: translateY(-7px);
}

ul.nav li a {
  color: #fff;
  font-size: 12px;
}

.caroussel {
  width: 100%;
  height: 680px;
  background: URL(img/slide.jpg);
  background-position: center;
  background-size: cover;
}

.contend1 {
  display: flex;
  max-width: 1000px;
  margin: auto; 
  transform: translateY(-30px);
  text-align: center;
}

.contend1-1 {
  max-width: 500px;
  max-height: 750px;
  background-color: #FFF;
  padding: 50px;
}

.contend1-1 .contend {
  max-width: 400px;
  text-align: left;
  color: rgba(52, 63, 100, 1);
}

.contend1-1 h5 {
  width: 100%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

@media (max-width:1000px) {
}

.bv {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

.UniPinhal {
  font-weight: bold;
  font-size: 60px;
  margin: -3px 0 10px 0;
}

.contend p {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 1.3;
}

.contend1-2 {
  max-width: 100%;
  text-align: left;
  width: 500px;
  height: 750px;
  background-color: rgba(52, 63, 100, 1);
  color: #FFF;
  padding: 50px;
}

.contend1-2 .contend {
  max-width: 348px;
  margin: auto;
}
.contend1-2 .contend img {
  max-width: 348px;
  margin: 0 0 20 5;
}

.contend1-2 .contend h3 {
  font-size: 16px;
  font-weight: bold;
}

.contend1-2 .contend p {
  font-size: 13px;
  color: #D3D3D3;
  margin: 0;
}

.contend1-2 .contend button {

}